Repository trynmaps/metrics-mvp, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Data Science

Loading indicator and revised bread crumb layout.
  frontend/src/components/DateTimePanel.jsx
  frontend/src/screens/RouteScreen.jsx
Labels: Frontend

Tightened up the menu.
  frontend/src/components/SidebarButton.jsx
Labels: Frontend

Removed irrelevant tags and wrong color.
  frontend/src/screens/Isochrone.jsx
Labels: Frontend

configure agency IDs for kubernetes cron jobs via ConfigMap
  kubernetes/compute-new-cronjob.yaml
  kubernetes/save-routes-cronjob.yaml
Labels: none

add stub doc about kubernetes deployments
  docs/deployment.md
Labels: none

configure agency IDs for kubernetes cron jobs via ConfigMap (#452)
  docs/deployment.md
  kubernetes/compute-new-cronjob.yaml
  kubernetes/save-routes-cronjob.yaml
Labels: none

fix missing documentation
  docs/metrics_api.md
Labels: none

added exception for wait_time_median.get_value() returning None
  backend/models/schema.py
Labels: Data Science

- Allow horizontal scrolling for travel time chart and marey chart, but stay within full screen app boundaries.
  frontend/src/components/RouteSummary.jsx
Labels: Frontend

.github/labeler.yml:

# Add 'frontend' to any changes within 'frontend'
"Frontend": ./frontend/**/*

# Similar for others
"Backend": ./backend/*  
"Data Science": ./backend/models/**/*


### EXAMPLES
# # Add 'label1' to any changes within 'example' folder or any subfolders
# label1:
#   - example/**/*
# 
# # Add 'label2' to any file changes within 'example2' folder
# label2: example2/*
# 
# # Add 'repo' label to any root file changes
# repo:
#   - ./*
# 
# # Add '@domain/core' label to any change within the 'core' package
# @domain/core:
#   - package/core/*
#   - package/core/**/*
# 
# # Add 'test' label to any change to *.spec.js files within the source dir
# test:
#   - src/**/*.spec.js
