Repository trynmaps/metrics-mvp, pull requests merged in 2019-11, with the labels that each got.

#441 Auto-label PRs
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Process

#355 Added Clear button and converted the toolbar to Material per #342
  frontend/src/screens/Isochrone.css
  frontend/src/screens/Isochrone.jsx
Labels: Frontend, Isochrone

#372 Implement date ranges on the Backend
  backend/models/schema.py
  docs/metrics_api.md
Labels: Backend, PDX
