Repository trynmaps/metrics-mvp, pull requests merged in 2019-10, with the labels that each got.

#348 Added error checking for invalid dates, per https://github.com/trynma…
  frontend/public/isochrone-worker.js
  frontend/src/components/DateTimePanel.jsx
  frontend/src/screens/Isochrone.jsx
Labels: Frontend

#352 Remove duplicative readme content
  docs/README.md
Labels: Process

#358 wenyu's good first issue
  frontend/src/components/InfoTripSummary.jsx
  frontend/src/components/RouteSummary.jsx
Labels: Good First Issue

#357 Redirect HTTP to HTTPS
  nginx/conf.d/web.conf
Labels: Backend
